<div class="hero-unit">
	<h1>Header title</h1>
	<p>Header blurb</p>
	<p><a class="btn btn-primary btn-large" href="#sketch">Draw your own</a></p>
</div>

<div class="row">
	<section class="span8">
		<h2>Newly drawn trees</h2>
		<div class="new_trees"></div>
	</section>

	<!-- "Stats" template will be injected here -->
	<aside class="stats span4">
		<p>stats</p>
	</aside>
</div>

<div class="row">
	<section class="span12">
		<h2>Use somebody else's</h2>
		<div class="existing_tree"></div>
	</section>
</div>
