<div class="hero-unit row-fluid">
	<div class="span5">
		<h1>Header title</h1>
		<p>Header blurb</p>
		<p class="btn-draw-para">
			<a class="btn btn-primary btn-large" href="#sketch">
				<i class="icon-pencil icon-white"></i> Draw your own
			</a>
		</p>
	</div>
	<div class="sketchpad span5">
		<div class="sketchpad-editor"></div>
	</div>
</div>

<div class="row-fluid row-ribbon">
	<div class="ribbon span12">
		<div class="ribbon-stitches-top"></div>
		<ul class="ribbon-content">
			<li class="one">
				<h2>Draw your festive scene
				</h2>
			</li>
			<li class="three">
				<h2>Your friends place gifts
			</li>
			<li class="two">
				<h2>And donate to charities you choose</h2>
			</li>
		</ul>
		<div class="ribbon-stitches-bottom"></div>
	</div>
</div>

<!--
<div class="row-spacer">
	<div class="hr"></div>
</div>
-->

<!--
<div class="row-fluid">
	<section class="span8">
		<h2>Watch this space!</h2>
		<div class="new_trees"></div>
	</section>

	<aside class="stats span4">
		<p>stats</p>
	</aside>
</div>
-->
<!--
<div class="row-fluid">
	<section class="span12">
		<h2>Use somebody else's</h2>
		<div class="existing_tree"></div>
	</section>
</div>
 -->
