<div class="hero-unit">
	<h2>What this site is and why it exists</h2>
	<p>
		I've been interested in seeing whether allowing people to give virtual
		gifts over physical ones could catch on, effectively replacing material
		products with a cost-free alternative that wouldn't consume any
		resources to produce or end up in landfill. Christmas seemed like an ideal
		opportunity to test this out, and the idea eventually evolved into what you
		see here!
	</p>
</div>

<div class="hero-unit">
	<h2>Report inappropriate content</h2>
	<p>
		As this site is driven largely by user-contributed content, it's not unlikely that you
		may happen across something distasteful, inappropriate or irrelevant. I'll try to remove this unwanted material as quickly as possible.
	</p>
	<p>
		Please use my contact details in the section below to inform me of any
		questionable submission and I'll zap it as soon as possible.
	</p>
</div>

<div class="hero-unit">
	<h2>Contact the creator</h2>
	<p>
		To get in touch, just <a href="mailto:notatestuser@gmail.com">email me</a>. There's no
		company or organisation dealing with incoming messages, but I check my inbox frequently.
	</p>
</div>
