<div class="row-fluid row-sketchpad">
	<section class="span12 sketchpad"></section>
</div>

<div class="row-spacer">
	<div class="hr"></div>
</div>

<div class="row-fluid row-picker">
	<h2 class="offset1 span10">When you're done, choose your charities</h2>
	<div class="charity_picker"></div>
	<div class="hr"></div>
</div>

<div class="row-fluid row-share-button">
	<div class="save"></div>
</div>

<div class="row-fluid row-share-warning">
	<p class="span8 offset2">
		<i class="icon-warning-sign"></i>
		Removal of irrelevant or inappropriate content will be quicker than Santa, so don't even try!
	</p>
</div>

<div class="authenticate_modal"></div>
