<div class="row-fluid row-templates">
	<h2>Choose your room</h2>
	<section class="templates"></section>
</div>

<div class="row-fluid row-sketchpad">
	<h2>Decorate it with Christmas decor</h2>
	<p>It doesn't have to be a masterpiece, but give it a shot.</p>
	<section class="sketchpad"></section>
</div>

<div class="row-spacer">
	<div class="hr"></div>
</div>

<div class="row-fluid row-picker">
	<div class="offset1 span10 intro">
		<h2>When you're done, write your wish list</h2>
		<p>Your friends will be able to place a gift for each donation made to one of the charities you choose.</p>
	</div>
	<div class="charity_picker"></div>
	<div class="hr"></div>
</div>

<div class="row-fluid row-share-button">
	<div class="save"></div>
</div>

<div class="row-fluid row-share-warning">
	<p class="span8 offset2">
		<i class="icon-warning-sign"></i>
		Removal of irrelevant or inappropriate content will be quicker than Santa, so don't even try!
	</p>
</div>

<div class="authenticate_modal"></div>
