<div class="intro"></div>

<div class="row-fluid row-holly row-first hidden-phone">
	<div class="span6 offset3 holly-holder-top">
		<div class="holly two flip"></div>
		<div class="holly"></div>
		<div class="holly two"></div>
		<div class="holly flip"></div>
	</div>
</div>
<div class="row-fluid row-sketchpad row-holly">
	<div class="span3 holly-holder-left hidden-phone">
		<div class="rosette"></div>
		<div class="holly two"></div>
		<div class="holly"></div>
		<div class="holly two"></div>
		<div class="holly corner"></div>
	</div>
	<div class="sketchpad-editor span6"></div>
	<div class="span3 holly-holder-right hidden-phone">
		<div class="holly corner"></div>
		<div class="holly two flip"></div>
		<div class="holly"></div>
		<div class="holly two"></div>
		<div class="rosette"></div>
	</div>
</div>

<div class="row-spacer">
	<div class="hr"></div>
</div>

<div class="row-fluid row-picker row-holly">
	<div class="span6 offset3 holly-holder-bottom hidden-phone">
		<div class="holly two"></div>
		<div class="holly two flip"></div>
		<div class="holly flip"></div>
	</div>
	<div class="hr"></div>
</div>

<div class="row-fluid row-donation well">
	<div class="span9 left">
		<h2>Ready to give a gift for our future?</h2>
<!-- 		<p>For each donation made to one of the listed charities, we'll show a decoration on the drawing above.</p> -->

		<div class="row-fluid donate-steps">
<!-- 			<ul class="span6 nav nav-tabs nav-stacked">
				<li><a href="#">Unicef</a></li>
				<li><a href="#">Something else</a></li>
				<li><a href="#">Another thing</a></li>
				<li><a href="#">item</a></li>
			</ul>-->
			<div class="span6">
				<ul class="gifts">
					<li class="ball one"></li>
					<li class="ball two"></li>
					<li class="ball three"></li>
				</ul>
				<p style="clear: both">some copy</p>
			</div>
			<div class="span6">
				<ul class="gifts">
					<li class="gift one"></li>
					<li class="gift two"></li>
					<li class="gift three"></li>
				</ul>
				<p style="clear: both">some copy</p>
			</div>
		</div>

		<p class="warning">
			<span class="label label-warning">Please note</span>
			Donations are processed by JustGiving, who take payments on behalf of the listed charities. When you proceed after this step, you will be forwarded to JustGiving's website to pay.
		</p>
	</div>
	<div class="span3 right">
		<h2>Draw your own</h2>
		<a class="btn btn-primary btn-large btn-warning offset3" href="#sketch">It's easy!</a>
	</div>
</div>
