<div class="intro"></div>

<div class="row-fluid row-holly row-first hidden-phone">
	<div class="span6 offset3 holly-holder-top">
		<div class="holly two flip"></div>
		<div class="holly"></div>
		<div class="holly two"></div>
		<div class="holly flip"></div>
	</div>
</div>
<div class="row-fluid row-sketchpad row-holly">
	<div class="span3 holly-holder-left hidden-phone">
		<div class="rosette"></div>
		<div class="holly two"></div>
		<div class="holly"></div>
		<div class="holly two"></div>
		<div class="holly corner"></div>
	</div>
	<div class="sketchpad-editor span6"></div>
	<div class="span3 holly-holder-right hidden-phone">
		<div class="holly corner"></div>
		<div class="holly two flip"></div>
		<div class="holly"></div>
		<div class="holly two"></div>
		<div class="rosette"></div>
	</div>
</div>

<div class="row-spacer">
	<div class="hr"></div>
</div>

<div class="row-fluid row-picker row-holly">
	<div class="span6 offset3 holly-holder-bottom hidden-phone">
		<div class="holly two"></div>
		<div class="holly two flip"></div>
		<div class="holly flip"></div>
	</div>
	<div class="hr"></div>
</div>

<div class="row-fluid row-donation well">
	<div class="span9 left">
		<h2>Ready to give a gift for our future?</h2>
		<p>For each donation made to one of the listed charities, we'll show a decoration on the drawing above.</p>
	</div>
	<div class="span3">
		<h2>Draw your own</h2>
		<a class="btn btn-primary btn-large btn-warning offset3" href="#sketch">It's easy!</a>
	</div>
</div>
