@import '../vendor/bootstrap/css/bootstrap.min.css'
@import url('https://fonts.googleapis.com/css?family=Lobster');

// Prefixer mixins

box-shadow(x, y, z, colour)
	-webkit-box-shadow x y z colour
	-moz-box-shadow x y z colour
	box-shadow x y z colour

transform-rotate(degs)
	-webkit-transform: rotate(degs)
	-moz-transform: rotate(degs)
	-o-transform: rotate(degs)
	-ms-transform: rotate(degs)
	transform: rotate(degs)

transform-rotateY(degs)
	-webkit-transform: rotateY(degs)
	-moz-transform: rotateY(degs)
	-o-transform: rotateY(degs)
	-ms-transform: rotateY(degs)
	transform: rotateY(degs)

transition(a, b, c)
	transition a b c
	-webkit-transition a b c
	-moz-transition a b c

box-sizing(sizing)
	-webkit-box-sizing sizing
	-moz-box-sizing sizing
	-ms-box-sizing sizing

// Style builders

coloured-pencil($colour)
	$tinted = darken($colour, 15)
	$darker = darken($tinted, 10)
	$darkest = darken($darker, 10)
	.darkest-bb
		border-bottom-color $darkest !important
	.darkest-bg
		background-color $darkest
	.darker-mb
		border-left-color $darkest !important
		border-bottom-color $darker !important
		border-right-color $tinted !important
	.darker-bg
		background-color $darker
	.original-bb
		border-bottom-color $tinted !important
	.original-bg
		background-color $tinted
	&:hover
		.darkest-bg
			background-color $darker !important
		.darker-bg
			background-color $tinted !important
		.original-bg
			background-color $colour !important

// Page styles

html
	overflow-x hidden

body
	background #eeecdf
	background -moz-linear-gradient(left,  #eeecdf 0%, #edead7 24%, #eae6cc 50%, #edead7 79%, #eeecdf 100%)
	background -webkit-gradient(linear, left top, right top, color-stop(0%,#eeecdf), color-stop(24%,#edead7), color-stop(50%,#eae6cc), color-stop(79%,#edead7), color-stop(100%,#eeecdf))
	background -webkit-linear-gradient(left,  #eeecdf 0%,#edead7 24%,#eae6cc 50%,#edead7 79%,#eeecdf 100%)
	background -o-linear-gradient(left,  #eeecdf 0%,#edead7 24%,#eae6cc 50%,#edead7 79%,#eeecdf 100%)
	background -ms-linear-gradient(left,  #eeecdf 0%,#edead7 24%,#eae6cc 50%,#edead7 79%,#eeecdf 100%)
	background linear-gradient(to right,  #eeecdf 0%,#edead7 24%,#eae6cc 50%,#edead7 79%,#eeecdf 100%)

header
	text-align center
	padding 0 0 50px 0
	margin-bottom 50px
	background transparent url('../img/bg-content-top.jpg') repeat-x scroll center bottom

	.peek-banner
		background transparent url('../img/bg-banner-top-green.png') repeat-x scroll center bottom
		height 50px

	> h1
		font-size 2rem

#main
	margin 0 auto 0 auto

	h2
		font-family 'Lobster',cursive
		font-size 1.3rem

	.sketchpad
		position relative
		.alert-saved
			margin-top 10px

		.workspace-view
			display inline-block
			width 100%
			height 100%

		.sketchpad-editor
			z-index 30
			-moz-user-select text
			cursor crosshair
			border 1px solid black
			height 500px

			position relative
			background whiteSmoke
			padding 10px
			border 1px solid rgba(0, 0, 0, 0.150)
			box-shadow(1px, 1px, 2px, rgba(0, 0, 0, 0.18))

			> div
				z-index 40
				height 100%
				*
					z-index 50

		.sketchpad-editor:before
			z-index 20
			position: absolute
			top: -2px
			left: 0
			content: ''
			width: 100%
			height: 100%
			background-color: whiteSmoke
			border: 1px solid rgba(0, 0, 0, 0.150)
			box-shadow(1px, 1px, 2px, rgba(0, 0, 0, 0.19))
			transform-rotate(2deg)

		.sketchpad-editor:after
			z-index 10
			position absolute
			top 1px
			left -2px
			content ''
			width 100%
			height 100%
			background-color whiteSmoke
			border 1px solid rgba(0, 0, 0, 0.150)
			box-shadow(1px, 1px, 2px, rgba(0, 0, 0, 0.2))
			transform-rotate(358deg)

		.sketchpad-tools-right
			.box
				left 0
		.sketchpad-tools-left
			.box
				right 0
			.pencil-config
				.thumbnail
					display none !important

		.sketchpad-tools
			height 100%
			padding 0 17px 0 16px

			background transparent url('../img/magical-pencil-shadow.png') no-repeat scroll
			background-size 240px 20px
			background-position -13px 448px

			.pencil-config
				width 100%
				height 130px
				margin auto auto
				padding-top 25px
				box-sizing(border-box)

				.thumbnail
					display table-cell
					border-radius 0
					width 40px
					height 40px
					vertical-align middle
					text-align center
					cursor pointer
					&:first-child
						border-top-left-radius 4px
						border-bottom-left-radius 4px
					&:last-child
						border-top-right-radius 4px
						border-bottom-right-radius 4px
					&:hover
						.colour-blob
							opacity 1
					&.selected
						background-color: #ddd

				.colour-blob
					width 10px
					height 10px
					margin auto auto
					background black
					border-radius 50%
					opacity 0.6

			.pencil-case
				height 325px
				overflow hidden
				position relative
				margin 0 8px

				.box
					position absolute
					bottom 0
					height 4px
					width 85.6%
					z-index 200

					background -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(82,69,64,0.8) 100%)
					background -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(82,69,64,0.8)))
					background -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(82,69,64,0.8) 100%)
					background -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(82,69,64,0.8) 100%)
					background -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(82,69,64,0.8) 100%)
					background linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(82,69,64,0.8) 100%)

			.eraser-panel-view
				width 100%
				height 50px

				.eraser
					width 150px
					float left
					height 100%
					background red

				.btn-group-history
					width 37px
					height 100%
					box-sizing(border-box)
					.btn
						width auto !important
						height 50%
						box-sizing(border-box)
						.icon-repeat
							margin-top -1px
					.btn-undo
						.icon-repeat
							transform-rotateY(180deg)

				.undo
					width 37px
					float left
					height 100%
					box-sizing(border-box)

			.pencil-blue
				coloured-pencil(#3FC1FF)
			.pencil-green
				coloured-pencil(#C7E20A)
			.pencil-darkgreen
				coloured-pencil(#4C7C4C)
			.pencil-yellow
				coloured-pencil(#FFCC00)
			.pencil-purple
				coloured-pencil(#FA64FB)
			.pencil-pink
				coloured-pencil(#F819F9)
			.pencil-orange
				coloured-pencil(#EE6401)

			.pencil
				height 270px
				width 30px
				position absolute
				cursor pointer

				div
					outline 1px solid transparent

				> div
					clear both

				// nib section
				> div:first-child
					> div
						height 15px
						width 33.6%
						margin auto auto
						> div
							float left
							border-bottom 15px solid
						> div:first-child
							border-left 3px solid transparent
							margin-left 1px
						> div:nth-child(2)
							border-left 1px solid
							border-right 1px solid
						> div:last-child
							border-right 3px solid transparent

				// sharpened section
				> div:nth-child(2)
					> div
						float left
						width 0px
						height 0px
					> div:first-child
						border-left 10px solid transparent
						border-bottom 40px solid rgb(204, 182, 135)
					> div:nth-child(2)
						width 4px !important
						border-bottom 40px solid rgb(229, 202, 173)
						border-left 3px solid rgb(204, 182, 135)
						border-right 3px solid rgb(255, 231, 191)
					> div:last-child
						border-bottom 40px solid rgb(255, 231, 191)
						border-right 10px solid transparent

				// long section
				> div:last-child
					height 100%
					width 30px
					> div
						float left
						width 33.3%
						height 100%
						margin-top -4px
						padding-bottom 5px
						border-top-left-radius 5px
						border-top-right-radius 5px


	.sketch_page
		.row-sketchpad
			margin-bottom -50px

		.row-picker,.row-share-button
			background -moz-linear-gradient(left,  rgba(238,236,223,0.4) 0%, rgba(237,235,222,0.85) 22%, rgba(236,234,222,1) 31%, rgba(234,232,222,1) 50%, rgba(236,234,222,1) 73%, rgba(237,235,222,0.85) 81%, rgba(238,236,223,0.4) 100%)
			background -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(238,236,223,0.4)), color-stop(22%,rgba(237,235,222,0.85)), color-stop(31%,rgba(236,234,222,1)), color-stop(50%,rgba(234,232,222,1)), color-stop(73%,rgba(236,234,222,1)), color-stop(81%,rgba(237,235,222,0.85)), color-stop(100%,rgba(238,236,223,0.4)))
			background -webkit-linear-gradient(left,  rgba(238,236,223,0.4) 0%,rgba(237,235,222,0.85) 22%,rgba(236,234,222,1) 31%,rgba(234,232,222,1) 50%,rgba(236,234,222,1) 73%,rgba(237,235,222,0.85) 81%,rgba(238,236,223,0.4) 100%)
			background -o-linear-gradient(left,  rgba(238,236,223,0.4) 0%,rgba(237,235,222,0.85) 22%,rgba(236,234,222,1) 31%,rgba(234,232,222,1) 50%,rgba(236,234,222,1) 73%,rgba(237,235,222,0.85) 81%,rgba(238,236,223,0.4) 100%)
			background -ms-linear-gradient(left,  rgba(238,236,223,0.4) 0%,rgba(237,235,222,0.85) 22%,rgba(236,234,222,1) 31%,rgba(234,232,222,1) 50%,rgba(236,234,222,1) 73%,rgba(237,235,222,0.85) 81%,rgba(238,236,223,0.4) 100%)
			background linear-gradient(to right,  rgba(238,236,223,0.4) 0%,rgba(237,235,222,0.85) 22%,rgba(236,234,222,1) 31%,rgba(234,232,222,1) 50%,rgba(236,234,222,1) 73%,rgba(237,235,222,0.85) 81%,rgba(238,236,223,0.4) 100%)

		.row-picker
			padding-top 100px
			position relative

			.hr
				position absolute
				top 0
				left -5000px
				width 9999px
				height 1px
				background transparent
				border-top 1px solid #ccc
				box-shadow(-1px, -1px, 8px, #ccc)
			h2
				display block
				font-size 2.1em
				line-height 1.9em
				text-align center
				padding-left 18px
				text-shadow 1px 1px #ffeeee
			h2:before
				content ""
				display inline-block
				width 64px
				height 32px
				background transparent url("../img/xmas-header-decor.png") no-repeat scroll 0px 0px
			h2:after
				content ""
				display inline-block
				width 94px
				height 32px
				background transparent url("../img/xmas-header-decor.png") no-repeat scroll -54px 2px
			form
				margin-top 15px

		.row-share-button
			padding-top 30px
			padding-bottom 60px

	ul.charities
		list-style-type none
		margin-top 25px

		background transparent url('../img/stocking-wire.svg') no-repeat scroll -6px 4px
		background-size: 107%;

		> li
			position relative
			border none
			box-shadow(0, 0, 0, transparent)
			background transparent url('../img/stocking-rotated-tag.png') no-repeat scroll 50% 2.3%
			background-size 130px
			padding 200px 15px 0 15px
			cursor pointer

			&:first-child
				background-position 50% 1.5%
				.floating-logo
					top 97px !important
				.pin
					height 20px
					top 10px
					left -8px
					transform-rotateY(180deg)
			&:nth-child(3)
				background-position 50% 1.8%
				.floating-logo
					top 99px !important
			&:last-child
				background-position 50% -1px
				.floating-logo
					top 91px !important
				.pin
					height 20px
					top 0px
					right -8px
			&.selected
				background-color rgba(0, 255, 0, 0.2)
				h4
					text-shadow #eeffee 1px 1px 0px
				p
					text-shadow none !important

			h4,p
				font-size 13px
				text-shadow white 1px 1px 0px
			h4
				overflow hidden
				max-height 20px
			p
				margin-right 0 !important
				text-align justify

			.pin
				position absolute
				width 20px
				background transparent url('../img/green-pin.svg') no-repeat scroll
				background-size cover

			.floating-logo
				position absolute
				width 55px
				height 35px
				top 102px
				left 61px
				transform-rotate(26deg)
				background-color transparent
				background-position right center
				background-repeat no-repeat
				background-size contain

	.tree-share-view
		.share_preview
			text-align center

		.alert-not-logged-in
			margin-bottom 0
			margin-top 20px

