@import "../vendor/bootstrap/css/bootstrap.min.css"

body
	background: #FFFFFC
	padding-top 40px

header
	text-align center
	padding 30px 0 30px 0

	> h1
		font-size 2rem

#main
	margin 0 auto 0 auto

	h2
		font-size 1.3rem

	.sketchpad-editor
		-moz-user-select text
		cursor crosshair
		border 1px solid black
		height 500px
