@import '../vendor/bootstrap/css/bootstrap.css'
@import '../vendor/bootstrap/css/bootstrap-responsive-custom.css'

@import 'nib'

// Prefixer mixins

transform-scale(x, y)
	-webkit-transform scale(x, y)
	-moz-transform scale(x, y)
	-o-transform scale(x, y)
	-ms-transform scale(x, y)
	transform scale(x, y)

transform-rotate(degs)
	-webkit-transform rotate(degs)
	-moz-transform rotate(degs)
	-o-transform rotate(degs)
	-ms-transform rotate(degs)
	transform rotate(degs)

transform-rotateX(degs)
	-webkit-transform rotateX(degs)
	-moz-transform rotateX(degs)
	-o-transform rotateX(degs)
	-ms-transform rotateX(degs)
	transform rotateX(degs)

transform-rotateY(degs)
	-webkit-transform rotateY(degs)
	-moz-transform rotateY(degs)
	-o-transform rotateY(degs)
	-ms-transform rotateY(degs)
	transform rotateY(degs)

transform-rotateXY(xdegs, ydegs)
	-webkit-transform rotateX(xdegs) rotateY(ydegs)
	-moz-transform rotateX(xdegs) rotateY(ydegs)
	-o-transform rotateX(xdegs) rotateY(ydegs)
	-ms-transform rotateX(xdegs) rotateY(ydegs)
	transform rotateX(xdegs) rotateY(ydegs)

transform-flipH()
	-moz-transform scaleX(-1) scaleY(1)
	-o-transform scaleX(-1) scaleY(1)
	-webkit-transform scaleX(-1) scaleY(1)
	transform scaleX(-1) scaleY(1)
	filter FlipH
	-ms-filter "FlipH"

transform-flipV()
	-moz-transform scaleX(1) scaleY(-1)
	-o-transform scaleX(1) scaleY(-1)
	-webkit-transform scaleX(1) scaleY(-1)
	transform scaleX(1) scaleY(-1)
	filter FlipV
	-ms-filter "FlipV"

transform-flipHV()
	-moz-transform scaleX(-1) scaleY(-1)
	-o-transform scaleX(-1) scaleY(-1)
	-webkit-transform scaleX(-1) scaleY(-1)
	transform scaleX(-1) scaleY(-1)
	filter FlipH FlipV
	-ms-filter "FlipH, FlipV"

transform-flipH-rotate(degs)
	-webkit-transform scaleX(-1) scaleY(1) rotate(degs)
	-moz-transform scaleX(-1) scaleY(1) rotate(degs)
	-o-transform scaleX(-1) scaleY(1) rotate(degs)
	-ms-transform rotate(degs)
	transform scaleX(-1) scaleY(1) rotate(degs)
	filter FlipH
	-ms-filter "FlipH"

background-prefixed-radial-gradient(start, type, stop1, stop2, stop3)
	background -moz-radial-gradient(start, type, stop1, stop2, stop3)
	background -o-radial-gradient(start, type, stop1, stop2, stop3)
	background -ms-radial-gradient(start, type, stop1, stop2, stop3)
	background -webkit-radial-gradient(start, type, stop1, stop2, stop3)


// Style builders

coloured-pencil($colour)
	$tinted = darken($colour, 8)
	$darker = darken($tinted, 6)
	$darkest = darken($darker, 6)
	.darkest-bb
		border-bottom-color $darkest !important
	.darkest-bg
		background-color $darkest
	.darker-mb
		border-left-color $darkest !important
		border-bottom-color $darker !important
		border-right-color $tinted !important
	.darker-bg
		background-color $darker
	.original-bb
		border-bottom-color $tinted !important
	.original-bg
		background-color $tinted
	&:hover
		.darkest-bg
			background-color $darker !important
		.darker-bg
			background-color $tinted !important
		.original-bg
			background-color $colour !important


// Page styles

html
	overflow-x hidden

body
	overflow-x hidden
	background #eeecdf
	background linear-gradient(left, #eeecdf 0%,#edead7 24%,#eae6cc 50%,#edead7 79%,#eeecdf 100%)
	// background -webkit-gradient(linear, left top, right top, color-stop(0%,#eeecdf), color-stop(24%,#edead7), color-stop(50%,#eae6cc), color-stop(79%,#edead7), color-stop(100%,#eeecdf))
	// background linear-gradient(to right,  #eeecdf 0%,#edead7 24%,#eae6cc 50%,#edead7 79%,#eeecdf 100%)

header
	background transparent url('../img/header-bg-crop.png') no-repeat scroll center bottom
	color #fff

	a,
	a:hover,
	a:visited,
	a:active
		text-shadow: 1px 1px 1px #000
		color #ffe
	a:hover
		text-decoration none
		color #fff

	h1
		line-height 32px
	h1 a,
	h1 a:hover,
	h1 a:visited,
	h1 a:active
		font-family 'Dancing Script', cursive
		font-weight normal
		font-size 21pt !important
		text-shadow 2px 2px 1px #000

	.peek-banner
		background transparent url('../img/bg-banner-top-green.png') repeat-x scroll 50% -11%
		min-height 50px
		width 100%

	.container
		min-height 260px
		margin-bottom 32px
		.row-fluid
			margin-top -9px
			h1
				margin-top 7px
		.banner
			position relative
			height 223px
			margin-top 8px
			background transparent url('../img/dangler-tree.png') no-repeat scroll center top
			background-size 107% auto
			&:after
				content ''
				display block
				width 75%
				height 11px
				position absolute
				bottom -8px
				left 18px
				background-prefixed-radial-gradient(center, ellipse cover,  rgba(224,218,186,1) 0%, rgba(224,218,187,1) 16%, rgba(225,220,194,0) 100%)
				background -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(224,218,186,1)), color-stop(16%,rgba(224,218,187,1)), color-stop(100%,rgba(225,220,194,0)))
				background radial-gradient(ellipse at center, rgba(224,218,186,1) 0%,rgba(224,218,187,1) 16%,rgba(225,220,194,0) 100%)

	.social
		margin-top 11px
		a
			float left
			line-height 39px
			font-size 10pt
			width auto
			&:nth-child(2)
				margin-left 3px
			&:hover
				.img-outer
					background rgba(0,0,0,0.9)
			&.profile
				max-width 200px
				max-height 40px
				overflow-y hidden
				text-overflow ellipsis
				white-space nowrap
				.img-outer
					border-radius 10px
					background rgba(0,0,0,0.4)
					img
						border-radius 5px
			&.profile-action
				float right !important
			.img-outer
				display block
				width 28px
				height 28px
				padding 5px
				background rgba(0,0,0,0.3)
				float left
				margin 0 8px 0 5px
				box-shadow 0 1px 3px rgba(255,255,255,0.4)
				border-radius 50em
			img
				width 28px
				height 28px
				border-radius 50em
				float left
			i.icon-share
				margin-right 4px

#main
	margin 0 auto 0 auto

	h2
		font-family 'Lobster',cursive
		font-size 2em

	.home_page
		background transparent url('../img/stars-and-bits.png') no-repeat scroll 105% 52%
		.hero-unit
			background transparent
			padding-top 40px
			h1
				font-family 'Dancing Script', cursive
				font-size 30pt
				text-shadow 1px 1px 0 rgba(0, 0, 0, 0.1)
				letter-spacing 0
				font-weight lighter
			.content
				padding-top 35px
			.btn-draw-para
				margin-top: 35px
		.sketchpad-editor
			height 400px
			transform rotate(3deg)
			box-shadow 0px 0px 80px white
			border 1px solid rgba(0, 0, 0, 0.15)
			.tree
				background: url('../img/home-tree.png') center top no-repeat;
				background:
					url("../img/home-tree.png") center top no-repeat,
					url("../img/stars-and-bits.png") 97% 57% no-repeat,
					-webkit-radial-gradient(center,ellipse cover,#9DD3AA 0%,#F2F6E0 60%,#FAF9E4 100%) 100% 100% no-repeat
		.row-ribbon
			position relative
			top -200px
			left 0

	.tree_page .share-widget
		z-index 1
		position fixed
		right 0
		top 65px
		.googlePlus,.pinterest
			display none

	.row-ribbon
		.ribbon
			margin-left 0 !important
			position: absolute
			text-align: center
			font-size: 40px !important
			background: #8a4c33
			background: -webkit-gradient(linear, left top, left bottom, from(#8a4c33), to(#68321b))
			background: -webkit-linear-gradient(top, #8a4c33, #68321b)
			background: -moz-linear-gradient(top, #8a4c33, #68321b)
			background: -ms-linear-gradient(top, #8a4c33, #68321b)
			background: -o-linear-gradient(top, #8a4c33, #68321b)
			background-image: -ms-linear-gradient(top, #8a4c33 0%, #68321b 100%)
			box-shadow: rgba(000,000,000,0.3) 0 1px 1px
			font-family: 'Helvetica Neue',Helvetica, sans-serif
			h2
				line-height 22px
				color #EEECDF
				font-size 17pt !important
				font-weight normal
				text-shadow 2px 2px 0px rgba(0, 0, 0, 0.4)
			&:before, &:after
				content: '';
				position: absolute;
				display: block;
				bottom: -1em;
				border: 1.5em solid #68321b;
				z-index: -1;
			&:before
				left: -2em;
				border-right-width: 1.5em;
				border-left-color: transparent;
				box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
			&:after
				right: -2em;
				border-left-width: 1.5em;
				border-right-color: transparent;
				box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
			&.ribbon-content:before,
			&.ribbon-content:after
				border-color: #5e2d18 transparent transparent transparent;
				position: absolute;
				display: block;
				border-style: solid;
				bottom: -1em;
				content: '';
			&.ribbon-content:before
				left: 0;
				border-width: 1em 0 0 1em;
			&.ribbon-content:after
				right: 0;
				border-width: 1em 1em 0 0;
			.ribbon-stitches-top
				margin-top: 3px;
				border-top: 2px dashed rgba(0, 0, 0, 0.2);
				box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.5);
			.ribbon-stitches-bottom
				margin-bottom: 3px;
				border-top: 2px dashed rgba(0, 0, 0, 0.2);
				box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.3);
				clear both
			.ribbon-content
				display block
				list-style-type none
				padding 1% 1% 1% 6%
				min-height 100px
				width 100%
				> li
					float left
					width 26.6%
					height 110px
					padding 22px 0 0 10.5%
					box-sizing border-box
					background transparent url('../img/ribbon-blocks.png') no-repeat scroll
					border-radius 50px
					box-shadow 0 0 5px rgba(255, 255, 255, 0.1)
					&:first-child,&:nth-child(2)
						margin-right 15px
				.two
					background-position -250px 0px
				.three
					background-position -500px 0px

	.workspace-view
		display inline-block
		width 100%
		height 100%
		.sketchpad-editor
			border 1px solid rgba(0, 0, 0, 0.15) !important

	.sketchpad
		position relative
		.alert-saved
			margin-top 10px

		.sketchpad-editor:before
			z-index -1
			position absolute
			top -2px
			left 0
			content ''
			width 100%
			height 100%
			background #faf9e4
			border 1px solid rgba(0, 0, 0, 0.150)
			box-shadow(1px, 1px, 2px, rgba(0, 0, 0, 0.19))
			transform rotate(2deg)

		.sketchpad-editor:after
			z-index -2
			position absolute
			top 1px
			left -2px
			content ''
			width 100%
			height 100%
			background #faf9e4
			border 1px solid rgba(0, 0, 0, 0.150)
			box-shadow(1px, 1px, 2px, rgba(0, 0, 0, 0.2))
			transform rotate(358deg)

	.sketchpad-editor
		position relative
		height 500px
		cursor crosshair

		padding 6px
		border 1px solid rgba(0, 0, 0, 0.150)
		box-shadow(1px, 1px, 2px, rgba(0, 0, 0, 0.18))

		border 2px solid #468C40
		box-sizing(border-box)

		background whiteSmoke
		background radial-gradient(ellipse at center, #ffffff 0%, #ffffff 54%, #faf9e4 100%)
		background-prefixed-radial-gradient(center, ellipse cover, #ffffff 0%, #ffffff 54%, #faf9e4 100%)
		> div
			z-index 40
			height 100%
			background transparent url('../img/paper-lines-2.png') no-repeat scroll center center
			*
				z-index 50
		.tree-view
			border 7px solid #468C40
			border-radius 2px
			box-sizing(border-box)
			&.placing
				cursor none
			.gifts
				position absolute
				top 0
				left 0
				width 100%
				height inherit
				height 100%
				z-index 90
				.tooltip
					z-index 200
		.decoration
			z-index 100
			width 32px
			height 32px
			position absolute
			top 0
			left 0
			transform-scale(0.6, 0.6)
		&.collapse
			height auto


	.sketchpad-tools-right
		.box
			left 0
	.sketchpad-tools-left
		.box
			right 0
		.pencil-config
			.thumbnail
				display none !important
		.thickness-buttons,.opacity-buttons
			display none

	.sketchpad-tools
		height 100%
		padding 0 17px 0 16px

		background transparent url('../img/magical-pencil-shadow.png') no-repeat scroll
		background-size 240px 20px
		background-position -13px 448px

		.pencil-config
			width 100%
			height 130px
			margin auto auto
			padding-top 10px
			overflow hidden
			border-radius 3px
			overflow visible !important
			box-sizing(border-box)

			.thumbnail
				display table-cell
				border-radius 0
				width 40px
				height 35px
				vertical-align middle
				text-align center
				cursor pointer
				border 0
				&:hover
					.colour-blob
						opacity(1)
				&.selected
					background-color #e1dcc2
				&.disabled
					background transparent url('../img/plain-cross.svg') no-repeat scroll center center
					background-size cover

			.thickness-buttons,.opacity-buttons
				border-left 1px solid #ddd
				border-right 1px solid #ddd
				border-radius 3px
			.thickness-buttons
				border-top 1px solid #ddd
				.thumbnail
					&:first-child
						border-top-left-radius 4px
					&:last-child
						border-top-right-radius 4px
			.opacity-buttons
				border-bottom 1px solid #ddd
				.thumbnail
					&:first-child
						border-bottom-left-radius 4px
					&:last-child
						border-bottom-right-radius 4px

			.colour-blob
				width 10px
				height 10px
				margin auto auto
				background black
				border-radius 50%
				opacity(0.6)

		.pencil-case
			height 325px
			overflow hidden
			position relative
			margin 0 8px

			.box
				position absolute
				bottom 0
				height 4px
				width 85.6%
				z-index 200
				background linear-gradient(top, rgba(0,0,0,0) 0%,rgba(82,69,64,0.8) 100%)

		.eraser-panel-view
			width 100%
			height 50px
			margin-top 20px
			position relative

			.eraser
				width 144px
				height 100%
				float left
				background transparent url('../img/rubber.png') no-repeat scroll
				background-size 90%
				opacity .7
				cursor pointer
				transform-rotate(-20deg)
				&:hover,&.selected
					opacity 1

			.btn-group-history
				width 37px
				height 100%
				float right
				margin-right 6px
				box-sizing(border-box)
				.btn
					width auto !important
					height 50%
					opacity .6
					box-sizing(border-box)
					&:hover
						opacity 1
					.icon-repeat
						margin-top -1px
				.btn-undo
					.icon-repeat
						transform-rotateY(180deg)

			.undo
				width 37px
				float left
				height 100%
				box-sizing(border-box)

		.pencil-red
			coloured-pencil(#ea0024)
		.pencil-blue
			coloured-pencil(#3FC1FF)
		.pencil-cyan
			coloured-pencil(#22d0d0)
		.pencil-green
			coloured-pencil(#1aa01a)
		.pencil-darkgreen
			coloured-pencil(#178416)
		.pencil-yellow
			coloured-pencil(#fccf1d)
		.pencil-purple
			coloured-pencil(#f111a3)
		.pencil-brown
			coloured-pencil(#aa4400)
		.pencil-orange
			coloured-pencil(#f8a300)
		.pencil-black
			coloured-pencil(#444444)

		.pencil
			height 270px
			width 30px
			position absolute
			cursor pointer

			div
				outline 1px solid transparent

			> div
				clearfix()

			// nib section
			> div:first-child
				> div
					height 15px
					width 33.6%
					margin auto auto
					> div
						float left
						border-bottom 15px solid
					> div:first-child
						border-left 3px solid transparent
						margin-left 1px
					> div:nth-child(2)
						border-left 1px solid
						border-right 1px solid
					> div:last-child
						border-right 3px solid transparent

			// sharpened section
			> div:nth-child(2)
				> div
					float left
					width 0px
					height 0px
				> div:first-child
					border-left 10px solid transparent
					border-bottom 40px solid rgb(204, 182, 135)
				> div:nth-child(2)
					width 4px !important
					border-bottom 40px solid rgb(229, 202, 173)
					border-left 3px solid rgb(204, 182, 135)
					border-right 3px solid rgb(255, 231, 191)
				> div:last-child
					border-bottom 40px solid rgb(255, 231, 191)
					border-right 10px solid transparent

			// long section
			> div:last-child
				height 100%
				width 30px
				> div
					float left
					width 33.3%
					height 100%
					margin-top -4px
					padding-bottom 5px
					border-top-left-radius 5px
					border-top-right-radius 5px

	.row-templates,
	.row-sketchpad
		h2
			background-image url('../img/liney-header-decor.png'), url('../img/liney-header-decor.png')
			background-repeat no-repeat, no-repeat
			cursor pointer
			&:before
				content "+"
				font-size 90%
				position relative
				bottom 3px
				right 10px
				font-weight normal
				font-style normal
				color #444
				cursor pointer

	.row-templates
		h2
			background-position 93% 3%, 4% 29%
		p
			text-align center
		.tree-list-view
			clearfix()
		.templates
			margin-bottom 40px
		.thumbnail
			height 220px
			cursor pointer
			opacity .8
			background #fff url('../img/paper-lines-2.png') no-repeat scroll center center
			background-size contain
			&:hover
				opacity 1

	.row-sketchpad
		margin-bottom -50px
		h2
			background-position 89% 90%, 11% 67%
			margin-bottom 10px
		p
			text-align center
			margin-bottom 25px

	.row-holly
		.holly-holder-left,.holly-holder-right
			.holly
				margin-bottom 15px
		.holly-holder-top
			height 36px
			.holly
				float left
				margin-right -18px
				width 118px
				transform-rotate(90deg)
				&:first-child
					background-image none
				&.flip
					transform-flipH-rotate(90deg)
		.holly-holder-bottom
			height 53px
			.holly
				position relative
				margin-left 34px
				margin-right 14px
				top -90px
				left 10px
				float left
				transform-rotate(-90deg)
				&.flip
					transform-flipH-rotate(-90deg)
		.holly-holder-left
			position relative
			.holly
				clear both
				float right
				top 105px
				right -27px
				&.flip
					transform-flipV()
				&:last-child
					z-index -2
				&.corner,&:last-child
					left 45px
					width 68px
					transform-rotate(-6deg)
			.rosette
				width 292px
				height 245px
				background transparent url('../img/rosette-top.png') no-repeat scroll center center
				position absolute
				top -125px
				right -200px
				z-index 90
		.holly-holder-right
			.holly
				left -27px
				top -40px
				transform-flipH()
				&.flip
					transform-flipHV()
				&.corner
					left -51px
					width 73px
					transform-rotate(130deg)
			.rosette
				width 200px
				height 179px
				background transparent url('../img/rosette-bottom-new.png') no-repeat scroll center center
				position relative
				left -168px
				top -57px
				z-index 90
				margin-bottom -100px
		.holly
			z-index -3
			background transparent url('../img/frame-holly.png') no-repeat scroll top left
			position relative
			width 52px
			height 100px
			opacity(0.75)
			&.two
				background-position 0% 99%
				height 86px

	.row-spacer,
	.row-picker,
	.row-share-button
		background linear-gradient(left, rgba(238,236,223,0.4) 0%,rgba(237,235,222,0.85) 22%,rgba(236,234,222,1) 31%,rgba(234,232,222,1) 50%,rgba(236,234,222,1) 73%,rgba(237,235,222,0.85) 81%,rgba(238,236,223,0.4) 100%)

	.row-spacer
		z-index -3
		height 100px
		position relative
		.hr
			position absolute
			top 0
			left -5000px
			width 9999px
			height 1px
			background transparent
			border-top 1px solid #ccc
			box-shadow(-1px, -1px, 8px, #ccc)

	.row-intro
		text-align center
		&.first
			margin-bottom 20px
		.profile-id
			padding 0 10px
		.profile-image
			max-height 48px
			min-height 48px
			user-select none
			-webkit-user-select none
			-moz-user-select none
		.inner
			padding-top 30px
		.decor
			background transparent url('../img/charities-decor.png') no-repeat scroll center center
			background-size 100%
			min-height 158px
			position relative
			left 44px
			&.right
				transform-flipH()
				left -44px !important

	.row-post-intro
		margin 30px 0 10px 0

	.row-intro,
	.row-post-intro,
	.row-picker,
	.row-pre-my-trees,
	.row-templates,
	.row-sketchpad
		h2
			text-align center
			font-weight normal
			text-shadow 1px 1px #ffeeee

	.row-intro,
	.row-picker,
	.row-pre-my-trees
		position relative
		h2
			display block
			font-size 2.1em
			line-height 1.9em
		h2:before
			content ""
			display inline-block
			width 64px
			height 32px
			background transparent url("../img/xmas-header-decor.png") no-repeat scroll 0px 0px
		h2:after
			content ""
			display inline-block
			width 94px
			height 32px
			background transparent url("../img/xmas-header-decor.png") no-repeat scroll -56px 4px
	.row-intro,
	.row-picker,
	.row-donation,
	.row-recent-charities-header
		h3,h4
			display block
			font-size 1.1em
			line-height 1.2em
			text-shadow 1px 1px #ffeeee
			font-weight normal
			text-transform uppercase
			font-family 'Lora', serif
		h3
			text-align center
			&.charities-donate-header:before
				content ""
				display inline-block
				width 100px
				height 12px
				margin-right 6px
				background transparent url("../img/smaller-header-decor.png") no-repeat scroll right center
				background-size 100%
			&.charities-donate-header:after
				content ""
				display inline-block
				width 100px
				height 12px
				margin-left 6px
				background transparent url("../img/smaller-header-decor.png") no-repeat scroll left center
				background-size 100%
		h4
			font-size 0.8em
		form
			margin-top 15px

	.row-picker .intro
		p
			text-align center

	.row-recent-charities-header
		h3
			text-align center

	.row-intro
		h2
			line-height 2.8em

	.row-share-button
		padding-top 30px
		padding-bottom 30px
		p
			text-align center

	.row-share-warning
		padding-bottom 30px
		font-size 14px
		p
			text-align center

	.row-first
		padding-top 60px

	.row-donation
		&.well
			// background #EDEAD7 - darker
			background #EDE8DE // lighter
		.left
			padding-left 25px
			h2
				text-align left
				margin-bottom 40px
		.right
			border-left 1px dashed #ccc
			height 100%
			h2
				text-align center
			.sketch-teaser
				min-height 170px
				border-bottom 1px dashed #ccc
				text-align center
				img
					margin auto
					display block
			.donate-anyway
				padding-top 18px
				text-align center
			.selected-gift
				padding-top 3px
				.gifts
					position relative
					border-bottom none
					clearfix()
					li
						float none
						margin auto
						&:before
							position static
						// radial gradient drop shadow effect
						// &:after
						// 	content ''
						// 	display block
						// 	width 90%
						// 	height 12px
						// 	position absolute
						// 	bottom -19px
						// 	left 4px
						// 	background-prefixed-radial-gradient(center, ellipse cover,  rgba(224,218,186,1) 0%, rgba(224,218,187,1) 16%, rgba(225,220,194,0) 100%)
						// 	background -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(224,218,186,1)), color-stop(16%,rgba(224,218,187,1)), color-stop(100%,rgba(225,220,194,0)))
						// 	background radial-gradient(ellipse at center, rgba(224,218,186,1) 0%,rgba(224,218,187,1) 16%,rgba(225,220,194,0) 100%)
				p.click-to-place
					background transparent url("../img/cursor-hand.svg") no-repeat scroll
					background-position -4px -3px
					background-size 23%
					padding 13px 10px 10px 38px
					font-size 13px
		.column
			position relative
		.gift-chosen
			.column
				&:last-child:after
					content "⇒"
					display block
					position absolute
					right -33px
					top 110px
					font-size 140%
		.readme
			padding-left 90px
			padding-top 12px
			margin-top 40px
			border-top 1px dashed #ccc
			color #666
			.label
				margin-left -85px
				margin-right 7px
		ul.gifts
			list-style-type none
			border-radius 16px
			height auto
			border-bottom 1px solid #ccc
			min-height 90px
			margin-left 0
			// clearfix()
			li
				z-index 20
				height 100%
				width 33.3%
				float left
				border-radius 16px
		.copy
			z-index 10
			h4
				padding-top 12px
				font-size 1.4em
				text-align center
				&:first-letter
					font-size 1.5em
			p
				text-align justify
				font-family 'Lora'
				width 93%
				margin auto
			h4,p
				z-index 10
		.follow
			z-index 100
			padding 15px 0
			background #FEFEFB
			&:before
				content "^"
				margin auto
				font-weight bold
			h2
				clearfix()
			.gifts
				position relative
				height 100%
				min-height 191px
				.btn-proceed
					position absolute
					bottom 0
					left 0
			.details
				padding-top 19px

	// These may appear either in the gift selector or the tree-view
	.gifts
		li
			// Balls
			&.ball-1:before
				float right
			&.ball-3:before
				float left

			// Gifts
			&.gift-1:before
				float right
			&.gift-3:before
				float left

			// Gift-less donation
			&.none
				display none

		li,.decoration
			cursor pointer

			&:before
				content ""
				display block
				height 93px
				background transparent url('../img/gift-sprites.png') no-repeat scroll 9999px 9999px

			// Balls
			&.ball-1:before,
			&.ball-2:before,
			&.ball-3:before
				width 70px
			&.ball-1:before
				background-position -278px -50px
			&.ball-2:before
				margin auto
				background-position -355px -50px
			&.ball-3:before
				background-position -430px -50px

			// Gifts
			&.gift-1:before,
			&.gift-2:before,
			&.gift-3:before
				width 80px
			&.gift-1:before
				background-position 0px -52px
			&.gift-2:before
				margin auto auto -40px auto
				background-position -83px -1px
				position relative
				top -51px
				height 130px
			&.gift-3:before
				background-position -166px -38px
				position relative
				top -14px
				width 110px

			// On hover "jumping" effect
			&:hover:before
				position relative
				top -5px
			&.gift-2:hover:before
				top -56px !important
			&.gift-3:hover:before
				top: -19px !important

		.decoration:before
			margin auto !important
			position static !important
			cursor pointer

	.charity_picker
		.form-charity-search
			text-align center
			&.searching .add-on
				background-image url('../img/charity-search-spinner.gif')
				background-repeat no-repeat
				background-position center center
				.icon-search
					display none
		.pagination
			margin auto auto
			text-align center
		.row-recent-charities-header
			margin-top 25px
		.showing-search-results
			.row-recent-charities-header
				display none

	ul.charities
		list-style-type none
		margin-top 25px

		background transparent url('../img/stocking-wire.svg') no-repeat scroll -6px 4px
		background-size 107%

		&.results
			background-image none
			> li
				background-image none
				padding-top 30px
				.floating-logo
					background-image none !important
					position static
					width 100%
					height 55px
					margin-bottom 33px
					text-align center
					transform-rotate(0deg)
					> img
						display inline
						max-height 100%
						padding 4px
						background #fff
						border 1px solid #eee
						box-shadow(2px, 2px, 5px, #ccc)
				.pin
					width 0 !important
					height 0 !important

		&.middle
			width 100%
			text-align center
			margin-left 0 !important
			margin-bottom -6px
			min-height 57px

		> li
			position relative
			border none
			box-shadow(0, 0, 0, transparent)
			background transparent url('../img/stocking-rotated-tag.png') no-repeat scroll 50% 2.3%
			background-size 130px
			padding 200px 15px 0 15px

			&:first-child
				background-position 50% 1.5%
				.floating-logo
					top 97px !important
				.pin
					height 20px
					top 10px
					left -8px
					transform-rotateY(180deg)
			&:nth-child(3)
				background-position 50% 1.8%
				.floating-logo
					top 99px !important
			&:last-child
				background-position 50% -1px
				.floating-logo
					top 91px !important
				.pin
					height 20px
					top 0px
					right -8px
			&.selected
				background-color rgba(0, 255, 0, 0.2)
				h4
					text-shadow #eeffee 1px 1px 0px
				.description *,
				.reg-number
					text-shadow none !important
			&.mini
				padding-top 0 !important
				padding-left 8px
				padding-right 8px
				display inline-block
				.floating-logo
					margin-bottom 0 !important
					height 38px

			h4,p
				font-size 13px
				text-shadow white 1px 1px 0px
			h4
				letter-spacing 1px
			p
				margin-right 0 !important
				text-align justify
				&.reg-number
					margin-top 3px
				&.revealer
					padding-left 5%
					border-top 1px dotted black
					border-bottom 1px dotted black
					font-size 80%
					margin-bottom 5px
					cursor pointer
				&.select-checkbox
					font-size 112%
					cursor pointer
					input
						width 22px
						height 20px
				&.limit-warning
					text-align center
					font-size 7pt
					border-radius 3px
					background rgba(0, 255, 0, 0.2)
					letter-spacing 1px
			.description
				transition(height .5s ease)
				&.contracted
					max-height 142px
					margin-bottom 5px
					overflow-y hidden

			.pin
				position absolute
				width 20px
				background transparent url('../img/green-pin.svg') no-repeat scroll
				background-size cover

			.floating-logo
				position absolute
				width 55px
				height 35px
				top 102px
				left 61px
				transform-rotate(26deg)
				background-color transparent
				background-position center center
				background-repeat no-repeat
				background-size contain
				> img
					display none

	.tree-share-view
		clearfix()
		.main_section > p
			font-family: 'Lora'
		.share_preview
			text-align center
			p
				padding-top 11px
		.alert-not-logged-in
			margin-bottom 5px
			margin-top 10px
			padding-bottom 26px
			border 1px solid #E3E3E3
			box-shadow 1px 1px 1px #E3E3E3
			background #FBFBFA
			color #060
			padding-left 38px
			padding-top 20px
			h4
				// text-shadow 1px 1px 0 #EEE
				border-bottom 1px dotted rgba(0, 100, 0, 0.1)
				padding-bottom 5px
				width 95%
			.btn-group
				background white
				border-radius 10px
				&.btn-group-facebook
					margin-left 12px
			.btn
				margin 6px 10px
				margin-right 1px
				padding 0
				border none
				.caret
					margin-top 14px
					margin-right 5px
		.share_widgets
			padding 20px !important
			.box
				font-size 28pt

	.share_widgets
		min-height 72px
		margin-bottom 0
		padding-bottom 0
		clearfix()
		p
			clear both
			margin-bottom 0
			padding-top 21px
		.box,
		.buttons .button
			margin-right 6px
			margin-left 5px
		.box
			float left
			padding-bottom 19px
		.count
			color:#525b67;
			display:block;
			font-size:18px;
			font-weight:bold;
			line-height:40px;
			height:40px;
			position:relative;
			text-align:center;
			width:70px;
			-webkit-border-radius:4px;
			-moz-border-radius:4px;
			border-radius:4px;
			border:1px solid #b2c6cc;
			background: #fbfbfb; /* Old browsers */
			background: -moz-linear-gradient(top, #fbfbfb 0%, #f6f6f6 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbfbfb), color-stop(100%,#f6f6f6)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top, #fbfbfb 0%,#f6f6f6 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top, #fbfbfb 0%,#f6f6f6 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top, #fbfbfb 0%,#f6f6f6 100%); /* IE10+ */
			background: linear-gradient(top, #fbfbfb 0%,#f6f6f6 100%); /* W3C */
			&:before,
			&:after
				content:"";
				display:block;
				position:absolute;
				left:49%;
				width:0;
				height:0;
			&:before
				border:solid 7px transparent;
				border-top-color:#b2c6cc;
				margin-left:-7px;
				bottom: -14px;
			&:after
				border:solid 6px transparent;
				margin-left:-6px;
				bottom:-12px;
				border-top-color:#fbfbfb;

		.share
			color:#FFFFFF;
			display:block;
			font-size:12px;
			font-weight:bold;
			height:30px;
			line-height:30px;
			margin-top:8px;
			padding:0;
			text-align:center;
			text-decoration:none;
			width:70px;
			-webkit-border-radius:4px;
			-moz-border-radius:4px;
			border-radius:4px;

		.twitter .share
			text-shadow: 1px 0px 0px #0077be;
			// filter: dropshadow(color=#0077be, offx=1, offy=0);
			border:1px solid #0075c5;
			background: #26c3eb;
			background: -moz-linear-gradient(top, #26c3eb 0%, #26b3e6 50%, #00a2e1 51%, #0080d6 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#26c3eb), color-stop(50%,#26b3e6), color-stop(51%,#00a2e1), color-stop(100%,#0080d6)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top, #26c3eb 0%,#26b3e6 50%,#00a2e1 51%,#0080d6 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top, #26c3eb 0%,#26b3e6 50%,#00a2e1 51%,#0080d6 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top, #26c3eb 0%,#26b3e6 50%,#00a2e1 51%,#0080d6 100%); /* IE10+ */
			background: linear-gradient(top, #26c3eb 0%,#26b3e6 50%,#00a2e1 51%,#0080d6 100%); /* W3C */
			// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26c3eb', endColorstr='#0080d6',GradientType=0 ); /* IE6-9 */
			box-shadow: 0 1px 4px #DDDDDD, 0 1px 0 #5cd3f1 inset;

		.facebook .share
			text-shadow: 1px 0px 0px #26427e;
			// filter: dropshadow(color=#26427e, offx=1, offy=0);
			border:1px solid #24417c;
			background: #5582c9; /* Old browsers */
			background: -moz-linear-gradient(top, #5582c9 0%, #33539a 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5582c9), color-stop(100%,#33539a)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top, #5582c9 0%,#33539a 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top, #5582c9 0%,#33539a 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top, #5582c9 0%,#33539a 100%); /* IE10+ */
			background: linear-gradient(top, #5582c9 0%,#33539a 100%); /* W3C */
			// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5582c9', endColorstr='#33539a',GradientType=0 ); /* IE6-9 */
			box-shadow: 0 1px 4px #DDDDDD, 0 1px 0 #80a1d6 inset;

		.googlePlus .share
			text-shadow: 1px 0px 0px #222222;
			// filter: dropshadow(color=#222222, offx=1, offy=0);
			border:1px solid #262626;
			background: #6d6d6d; /* Old browsers */
			background: -moz-linear-gradient(top, #6d6d6d 0%, #434343 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6d6d6d), color-stop(100%,#434343)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top, #6d6d6d 0%,#434343 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top, #6d6d6d 0%,#434343 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top, #6d6d6d 0%,#434343 100%); /* IE10+ */
			background: linear-gradient(top, #6d6d6d 0%,#434343 100%); /* W3C */
			// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d6d6d', endColorstr='#434343',GradientType=0 ); /* IE6-9 */
			box-shadow: 0 1px 4px #DDDDDD, 0 1px 0 #929292 inset;

		.buttons
			float left
			.button
				float left


// Shamelessly ripped from the Bootstrap docs

.bs-docs-sidenav {
    background-color: #FFFFFF;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
    margin: 30px 0 0;
    padding: 0;
    // width: 228px;
}
.bs-docs-sidenav > li > a {
    border: 1px solid #E5E5E5;
    display: block;
    margin: 0 0 -1px;
    padding: 8px 14px;
}
.bs-docs-sidenav > li:first-child > a {
    border-radius: 6px 6px 0 0;
}
.bs-docs-sidenav > li:last-child > a {
    border-radius: 0 0 6px 6px;
}
.bs-docs-sidenav > .active > a {
    border: 0 none;
    box-shadow: 1px 0 0 rgba(0, 0, 0, 0.1) inset, -1px 0 0 rgba(0, 0, 0, 0.1) inset;
    padding: 9px 15px;
    position: relative;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
    z-index: 2;
}
.bs-docs-sidenav .icon-chevron-right {
    float: right;
    margin-right: -6px;
    margin-top: 2px;
    opacity: 0.25;
}
.bs-docs-sidenav > li > a:hover {
    background-color: #F5F5F5;
}
.bs-docs-sidenav a:hover .icon-chevron-right {
    opacity: 0.5;
}
.bs-docs-sidenav .active .icon-chevron-right, .bs-docs-sidenav .active a:hover .icon-chevron-right {
    // background-image: url("../img/glyphicons-halflings-white.png");
    opacity: 1;
}

.typeahead.dropdown-menu li.active
	strong,a
		color #fff
