@import '../vendor/bootstrap/css/bootstrap.min.css'

@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('http://fonts.googleapis.com/css?family=Lora');

@import 'nib'

// Prefixer mixins

transform-rotate(degs)
	-webkit-transform rotate(degs)
	-moz-transform rotate(degs)
	-o-transform rotate(degs)
	-ms-transform rotate(degs)
	transform rotate(degs)

transform-rotateX(degs)
	-webkit-transform rotateX(degs)
	-moz-transform rotateX(degs)
	-o-transform rotateX(degs)
	-ms-transform rotateX(degs)
	transform rotateX(degs)

transform-rotateY(degs)
	-webkit-transform rotateY(degs)
	-moz-transform rotateY(degs)
	-o-transform rotateY(degs)
	-ms-transform rotateY(degs)
	transform rotateY(degs)

transform-rotateXY(xdegs, ydegs)
	-webkit-transform rotateX(xdegs) rotateY(ydegs)
	-moz-transform rotateX(xdegs) rotateY(ydegs)
	-o-transform rotateX(xdegs) rotateY(ydegs)
	-ms-transform rotateX(xdegs) rotateY(ydegs)
	transform rotateX(xdegs) rotateY(ydegs)

transform-flipH()
	-moz-transform scaleX(-1) scaleY(1)
	-o-transform scaleX(-1) scaleY(1)
	-webkit-transform scaleX(-1) scaleY(1)
	transform scaleX(-1) scaleY(1)
	filter FlipH
	-ms-filter "FlipH"

transform-flipV()
	-moz-transform scaleX(1) scaleY(-1)
	-o-transform scaleX(1) scaleY(-1)
	-webkit-transform scaleX(1) scaleY(-1)
	transform scaleX(1) scaleY(-1)
	filter FlipV
	-ms-filter "FlipV"

transform-flipHV()
	-moz-transform scaleX(-1) scaleY(-1)
	-o-transform scaleX(-1) scaleY(-1)
	-webkit-transform scaleX(-1) scaleY(-1)
	transform scaleX(-1) scaleY(-1)
	filter FlipH FlipV
	-ms-filter "FlipH, FlipV"

transform-flipH-rotate(degs)
	-webkit-transform scaleX(-1) scaleY(1) rotate(degs)
	-moz-transform scaleX(-1) scaleY(1) rotate(degs)
	-o-transform scaleX(-1) scaleY(1) rotate(degs)
	-ms-transform rotate(degs)
	transform scaleX(-1) scaleY(1) rotate(degs)
	filter FlipH
	-ms-filter "FlipH"

background-prefixed-radial-gradient(start, type, stop1, stop2, stop3)
	background -moz-radial-gradient(start, type, stop1, stop2, stop3)
	background -o-radial-gradient(start, type, stop1, stop2, stop3)
	background -ms-radial-gradient(start, type, stop1, stop2, stop3)
	background -webkit-radial-gradient(start, type, stop1, stop2, stop3)

background-prefixed-linear-gradient(start, stop1, stop2, stop3, stop4, stop5)
	background -moz-linear-gradient(start, stop1, stop2, stop3, stop4, stop5)
	background -webkit-linear-gradient(start, stop1, stop2, stop3, stop4, stop5)
	background -o-linear-gradient(start, stop1, stop2, stop3, stop4, stop5)
	background -ms-linear-gradient(start, stop1, stop2, stop3, stop4, stop5)


// Style builders

coloured-pencil($colour)
	$tinted = darken($colour, 15)
	$darker = darken($tinted, 10)
	$darkest = darken($darker, 10)
	.darkest-bb
		border-bottom-color $darkest !important
	.darkest-bg
		background-color $darkest
	.darker-mb
		border-left-color $darkest !important
		border-bottom-color $darker !important
		border-right-color $tinted !important
	.darker-bg
		background-color $darker
	.original-bb
		border-bottom-color $tinted !important
	.original-bg
		background-color $tinted
	&:hover
		.darkest-bg
			background-color $darker !important
		.darker-bg
			background-color $tinted !important
		.original-bg
			background-color $colour !important


// Page styles

html
	overflow-x hidden

body
	overflow-x hidden
	background #eeecdf
	background linear-gradient(left, #eeecdf 0%,#edead7 24%,#eae6cc 50%,#edead7 79%,#eeecdf 100%)
	// background -webkit-gradient(linear, left top, right top, color-stop(0%,#eeecdf), color-stop(24%,#edead7), color-stop(50%,#eae6cc), color-stop(79%,#edead7), color-stop(100%,#eeecdf))
	// background linear-gradient(to right,  #eeecdf 0%,#edead7 24%,#eae6cc 50%,#edead7 79%,#eeecdf 100%)

header
	text-align center

	.peek-banner
		background transparent url('../img/bg-banner-top-green.png') repeat-x scroll center bottom
		height 50px

	.container
		z-index -5
		background transparent url('../img/header-bg.png') no-repeat scroll 50% 94%
		min-height 250px
		margin-bottom 10px
		.banner
			width 130px
			height 223px
			position relative
			top -50px
			background transparent url('../img/dangler-tree.png') no-repeat scroll center top
			&:after
				content ''
				display block
				width 90%
				height 12px
				position absolute
				bottom -19px
				left 4px
				background radial-gradient(center, ellipse cover,  rgba(224,218,186,1) 0%, rgba(224,218,187,1) 16%, rgba(225,220,194,0) 100%)
				// background -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(224,218,186,1)), color-stop(16%,rgba(224,218,187,1)), color-stop(100%,rgba(225,220,194,0)))
				// background radial-gradient(ellipse at center,  rgba(224,218,186,1) 0%,rgba(224,218,187,1) 16%,rgba(225,220,194,0) 100%)


	h1
		font-size 2rem
		display none

#main
	margin 0 auto 0 auto

	h2
		font-family 'Lobster',cursive
		font-size 1.3rem

	.workspace-view
		display inline-block
		width 100%
		height 100%
		.sketchpad-editor
			border 1px solid rgba(0, 0, 0, 0.15) !important

	.sketchpad
		position relative
		.alert-saved
			margin-top 10px

		.sketchpad-editor:before
			z-index -1
			position absolute
			top -2px
			left 0
			content ''
			width 100%
			height 100%
			background #faf9e4
			border 1px solid rgba(0, 0, 0, 0.150)
			box-shadow(1px, 1px, 2px, rgba(0, 0, 0, 0.19))
			transform rotate(2deg)

		.sketchpad-editor:after
			z-index -2
			position absolute
			top 1px
			left -2px
			content ''
			width 100%
			height 100%
			background #faf9e4
			border 1px solid rgba(0, 0, 0, 0.150)
			box-shadow(1px, 1px, 2px, rgba(0, 0, 0, 0.2))
			transform rotate(358deg)

	.sketchpad-editor
		position relative
		height 500px
		cursor crosshair

		padding 6px
		border 1px solid rgba(0, 0, 0, 0.150)
		box-shadow(1px, 1px, 2px, rgba(0, 0, 0, 0.18))

		border 2px solid #468C40
		box-sizing(border-box)

		background whiteSmoke
		background radial-gradient(center, ellipse cover, #ffffff 0%, #ffffff 54%, #faf9e4 100%)

		> div
			z-index 40
			height 100%
			*
				z-index 50

		.tree-view
			border 7px solid #468C40
			border-radius 2px
			box-sizing(border-box)

	.sketchpad-tools-right
		.box
			left 0
	.sketchpad-tools-left
		.box
			right 0
		.pencil-config
			.thumbnail
				display none !important
		.thickness-buttons,.opacity-buttons
			display none

	.sketchpad-tools
		height 100%
		padding 0 17px 0 16px

		background transparent url('../img/magical-pencil-shadow.png') no-repeat scroll
		background-size 240px 20px
		background-position -13px 448px

		.pencil-config
			width 100%
			height 130px
			margin auto auto
			padding-top 10px
			overflow hidden
			border-radius 3px
			box-sizing(border-box)

			.thumbnail
				display table-cell
				border-radius 0
				width 40px
				height 35px
				vertical-align middle
				text-align center
				cursor pointer
				border 0
				&:hover
					.colour-blob
						opacity(1)
				&.selected
					background-color #e1dcc2
				&.disabled
					background transparent url('../img/plain-cross.svg') no-repeat scroll center center
					background-size cover

			.thickness-buttons,.opacity-buttons
				border-left 1px solid #ddd
				border-right 1px solid #ddd
				border-radius 3px
			.thickness-buttons
				border-top 1px solid #ddd
				.thumbnail
					&:first-child
						border-top-left-radius 4px
					&:last-child
						border-top-right-radius 4px
			.opacity-buttons
				border-bottom 1px solid #ddd
				.thumbnail
					&:first-child
						border-bottom-left-radius 4px
					&:last-child
						border-bottom-right-radius 4px

			.colour-blob
				width 10px
				height 10px
				margin auto auto
				background black
				border-radius 50%
				opacity 0.6

		.pencil-case
			height 325px
			overflow hidden
			position relative
			margin 0 8px

			.box
				position absolute
				bottom 0
				height 4px
				width 85.6%
				z-index 200
				background linear-gradient(top, rgba(0,0,0,0) 0%,rgba(82,69,64,0.8) 100%)

		.eraser-panel-view
			width 100%
			height 50px
			margin-top 20px
			position relative

			.eraser
				width 144px
				height 100%
				float left
				background transparent url('../img/rubber.png') no-repeat scroll
				background-size 90%
				opacity .7
				cursor pointer
				transform-rotate(-20deg)
				&:hover,&.selected
					opacity 1

			.btn-group-history
				width 37px
				height 100%
				float right
				margin-right 6px
				box-sizing(border-box)
				.btn
					width auto !important
					height 50%
					opacity .6
					box-sizing(border-box)
					&:hover
						opacity 1
					.icon-repeat
						margin-top -1px
				.btn-undo
					.icon-repeat
						transform-rotateY(180deg)

			.undo
				width 37px
				float left
				height 100%
				box-sizing(border-box)

		.pencil-blue
			coloured-pencil(#3FC1FF)
		.pencil-green
			coloured-pencil(#C7E20A)
		.pencil-darkgreen
			coloured-pencil(#4C7C4C)
		.pencil-yellow
			coloured-pencil(#FFCC00)
		.pencil-purple
			coloured-pencil(#FA64FB)
		.pencil-pink
			coloured-pencil(#F819F9)
		.pencil-orange
			coloured-pencil(#EE6401)

		.pencil
			height 270px
			width 30px
			position absolute
			cursor pointer

			div
				outline 1px solid transparent

			> div
				clearfix()

			// nib section
			> div:first-child
				> div
					height 15px
					width 33.6%
					margin auto auto
					> div
						float left
						border-bottom 15px solid
					> div:first-child
						border-left 3px solid transparent
						margin-left 1px
					> div:nth-child(2)
						border-left 1px solid
						border-right 1px solid
					> div:last-child
						border-right 3px solid transparent

			// sharpened section
			> div:nth-child(2)
				> div
					float left
					width 0px
					height 0px
				> div:first-child
					border-left 10px solid transparent
					border-bottom 40px solid rgb(204, 182, 135)
				> div:nth-child(2)
					width 4px !important
					border-bottom 40px solid rgb(229, 202, 173)
					border-left 3px solid rgb(204, 182, 135)
					border-right 3px solid rgb(255, 231, 191)
				> div:last-child
					border-bottom 40px solid rgb(255, 231, 191)
					border-right 10px solid transparent

			// long section
			> div:last-child
				height 100%
				width 30px
				> div
					float left
					width 33.3%
					height 100%
					margin-top -4px
					padding-bottom 5px
					border-top-left-radius 5px
					border-top-right-radius 5px

	.row-sketchpad
		margin-bottom -50px

	.row-holly
		.holly-holder-left,.holly-holder-right
			.holly
				margin-bottom 15px
		.holly-holder-top
			height 36px
			.holly
				float left
				margin-right -18px
				width 118px
				transform-rotate(90deg)
				&:first-child
					background-image none
				&.flip
					transform-flipH-rotate(90deg)
		.holly-holder-bottom
			height 53px
			.holly
				position relative
				margin-left 34px
				margin-right 14px
				top -90px
				left 10px
				float left
				transform-rotate(-90deg)
				&.flip
					transform-flipH-rotate(-90deg)
		.holly-holder-left
			position relative
			.holly
				clearfix()
				float right
				top 105px
				right -27px
				&.flip
					transform-flipV()
				&:last-child
					z-index -2
				&.corner,&:last-child
					left 45px
					width 68px
					transform-rotate(-6deg)
			.rosette
				width 292px
				height 245px
				background transparent url('../img/rosette-top.png') no-repeat scroll center center
				position absolute
				top -125px
				right -200px
				z-index 10
		.holly-holder-right
			.holly
				left -27px
				top -40px
				transform-flipH()
				&.flip
					transform-flipHV()
				&.corner
					left -51px
					width 73px
					transform-rotate(130deg)
			.rosette
				width 200px
				height 179px
				background transparent url('../img/rosette-bottom-new.png') no-repeat scroll center center
				position relative
				left -168px
				top -57px
				z-index 10
				margin-bottom -100px
		.holly
			z-index -3
			background transparent url('../img/frame-holly.png') no-repeat scroll top left
			position relative
			width 52px
			height 100px
			&.two
				background-position 0% 99%
				height 86px

	.row-spacer,
	.row-picker,
	.row-share-button
		background linear-gradient(left, rgba(238,236,223,0.4) 0%,rgba(237,235,222,0.85) 22%,rgba(236,234,222,1) 31%,rgba(234,232,222,1) 50%,rgba(236,234,222,1) 73%,rgba(237,235,222,0.85) 81%,rgba(238,236,223,0.4) 100%)

	.row-spacer
		z-index -3
		height 100px
		position relative
		.hr
			position absolute
			top 0
			left -5000px
			width 9999px
			height 1px
			background transparent
			border-top 1px solid #ccc
			box-shadow(-1px, -1px, 8px, #ccc)

	.row-intro
		text-align center
		&.first
			margin-bottom 20px
		.profile-id
			padding 0 10px
		.profile-image
			max-height 48px
			min-height 48px
			user-select none
			-webkit-user-select none
			-moz-user-select none
		.inner
			padding-top 30px
		.decor
			background transparent url('../img/charities-decor.png') no-repeat scroll center center
			background-size 100%
			min-height 158px
			position relative
			left 44px
			&.right
				transform-flipH()
				left -44px !important

	.row-post-intro
		margin 40px 0 -10px 0

	.row-intro,
	.row-post-intro,
	.row-picker,
		h2
			text-align center
			font-weight normal
			text-shadow 1px 1px #ffeeee

	.row-intro,
	.row-picker
		position relative
		h2
			display block
			font-size 2.1em
			line-height 1.9em
		h2:before
			content ""
			display inline-block
			width 64px
			height 32px
			background transparent url("../img/xmas-header-decor.png") no-repeat scroll 0px 0px
		h2:after
			content ""
			display inline-block
			width 94px
			height 32px
			background transparent url("../img/xmas-header-decor.png") no-repeat scroll -56px 4px
		h3,h4
			display block
			font-size 1.1em
			line-height 1.2em
			text-shadow 1px 1px #ffeeee
			font-weight normal
			text-transform uppercase
			font-family 'Lora', serif
		h3:before
			content ""
			display inline-block
			width 100px
			height 12px
			margin-right 6px
			background transparent url("../img/smaller-header-decor.png") no-repeat scroll right center
			background-size 100%
		h3:after
			content ""
			display inline-block
			width 100px
			height 12px
			margin-left 6px
			background transparent url("../img/smaller-header-decor.png") no-repeat scroll left center
			background-size 100%
		h4
			font-size 0.8em
		form
			margin-top 15px

	.row-intro
		h2
			line-height 2.8em

	.row-share-button
		padding-top 30px
		padding-bottom 60px

	.row-first
		padding-top 60px

	.row-donation
		&.well
			// background #EDEAD7 - darker
			background #EDE8DE // lighter
		.left
			h2
				text-align left
			padding-left 25px
		.right
			border-left 1px dashed #ccc
			height 100%
		.warning
			padding-left 90px
			padding-top 12px
			border-top 1px dashed #ccc
			.label-warning
				margin-left -85px
				margin-right 7px
		ul.gifts
			list-style-type none
			border-radius 6px
			height 200px
			li
				height 100%
				&:before
					content ""
					display block
					height 130px
					background transparent url('../img/gift-sprites.png') no-repeat scroll
				&.ball
					&:before
						width 70px
						background-position -278px -50px
					&.one:before
						float right
					&.two:before
						margin auto
						background-position -355px -50px
					&.three:before
						float left
						background-position -430px -50px
				&.gift
					&:before
						width 80px
						background-position 0px -52px
					&.one:before
						float right
					&.two:before
						margin auto
						background-position -83px -52px
					&.three:before
						float left
						background-position -166px -52px


	.charity_picker
		.pagination
			margin auto auto
			text-align center

	ul.charities
		list-style-type none
		margin-top 25px

		background transparent url('../img/stocking-wire.svg') no-repeat scroll -6px 4px
		background-size 107%

		&.results
			background-image none
			> li
				background-image none
				padding-top 30px
				.floating-logo
					background-image none !important
					position static
					width 100%
					height 55px
					margin-bottom 33px
					text-align center
					transform-rotate(0deg)
					> img
						display inline
						max-height 100%
						padding 4px
						background #fff
						border 1px solid #eee
						box-shadow(2px, 2px, 5px, #ccc)
				.pin
					width 0 !important
					height 0 !important

		&.middle
			width 100%
			text-align center
			margin-left 0 !important
			margin-bottom -6px
			min-height 57px

		> li
			position relative
			border none
			box-shadow(0, 0, 0, transparent)
			background transparent url('../img/stocking-rotated-tag.png') no-repeat scroll 50% 2.3%
			background-size 130px
			padding 200px 15px 0 15px

			&:first-child
				background-position 50% 1.5%
				.floating-logo
					top 97px !important
				.pin
					height 20px
					top 10px
					left -8px
					transform-rotateY(180deg)
			&:nth-child(3)
				background-position 50% 1.8%
				.floating-logo
					top 99px !important
			&:last-child
				background-position 50% -1px
				.floating-logo
					top 91px !important
				.pin
					height 20px
					top 0px
					right -8px
			&.selected
				background-color rgba(0, 255, 0, 0.2)
				h4
					text-shadow #eeffee 1px 1px 0px
				.description *,
				.reg-number
					text-shadow none !important
			&.mini
				padding-top 0 !important
				padding-left 8px
				padding-right 8px
				display inline-block
				.floating-logo
					margin-bottom 0 !important
					height 38px

			h4,p
				font-size 13px
				text-shadow white 1px 1px 0px
			h4
				letter-spacing 1px
			p
				margin-right 0 !important
				text-align justify
				&.reg-number
					margin-top 3px
				&.revealer
					padding-left 5%
					border-top 1px dotted black
					border-bottom 1px dotted black
					font-size 80%
					margin-bottom 5px
					cursor pointer
				&.select-checkbox
					font-size 112%
					cursor pointer
					input
						width 22px
						height 20px
				&.limit-warning
					text-align center
					font-size 7pt
					border-radius 3px
					background rgba(0, 255, 0, 0.2)
					letter-spacing 1px
			.description
				-webkit-transition height .5s ease
				-moz-transition height .5s ease
				transition height .5s ease
				&.contracted
					max-height 142px
					margin-bottom 5px
					overflow-y hidden

			.pin
				position absolute
				width 20px
				background transparent url('../img/green-pin.svg') no-repeat scroll
				background-size cover

			.floating-logo
				position absolute
				width 55px
				height 35px
				top 102px
				left 61px
				transform-rotate(26deg)
				background-color transparent
				background-position center center
				background-repeat no-repeat
				background-size contain
				> img
					display none

	.tree-share-view
		.share_preview
			text-align center

		.alert-not-logged-in
			margin-bottom 0
			margin-top 20px
