<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	<h3>Please tell us who you are!</h3>
</div>
<div class="modal-body">
	<p>
		Your tree is standing tall and proud. But to share it with your friends,
		we'll need you to log in using one of the methods below.
	</p>
	<p>
		<a href="#" class="btn">Connect with Facebook</a>
	</p>
	<p>
		<a href="/auth/twitter" class="btn">Connect with Twitter</a>
	</p>
	<!-- <p>
		<a href="#" class="btn">Connect with Google+</a>
	</p> -->
</div>
