<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	<h3>You are being sent to <%= processorName %></h3>
</div>
<div class="modal-body">
	<p>
		<center>
			<img src="https://www.justgiving.com/jg-refresh/content/images/logos/jg-logo-header-purple.png"/>
		</center>
	</p>
	<p>
		You will now be sent to <%= processorName %>, a secure and trusted payment processor for donations to charities. After you have completed your payment, you will be returned back to our site.
	</p>
	<p>
		On the following pages you will be able to select your currency, donation amount and find out whether you are able to automatically claim Gift Aid on your donation.
	</p>
</div>
<div class="modal-footer">
	<a class="btn btn-primary" href="<%= url %>">Proceed with donation</a>
</div>
