<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	<h3>Thank you for donating</h3>
</div>
<div class="modal-body">
	<p>
		<i class="icon-heart"></i> You've done the right thing!
	</p>
	<p>
		When we've validated the payment, you should see your decoration appearing on the drawing on this page. It should be instant, but it could take some time.
	</p>
	<p>
		If you still can't see your decoration after a few hours and it's really bugging you, don't hesitate to contact me. You can find my details at the bottom of the page.
	</p>
	<p>Cheers.</p>
</div>
<div class="modal-footer">
	<button class="btn btn-primary btn-close">Back to the sketch!</button>
</div>
