<div class="span9 left">
	<h2>Ready to give a gift for our future?</h2>

	<div class="row-fluid">
		<div class="span6 column">
			<ul class="gifts">
				<li class="selectable ball-1" data-gift="ball-1"></li>
				<li class="selectable ball-2" data-gift="ball-2"></li>
				<li class="selectable ball-3" data-gift="ball-3"></li>
			</ul>
			<div class="copy">
				<h4>The beneficent bauble</h4>
				<p>They come in all colours, shapes and sizes, but very rarely do they offer this much opportunity to brighten someone's day. Place one of these baubles and make some lasting change, today.</p>
			</div>
		</div>
		<div class="span6 column">
			<ul class="gifts">
				<li class="selectable gift-1" data-gift="gift-1"></li>
				<li class="selectable gift-2" data-gift="gift-2"></li>
				<li class="selectable gift-3" data-gift="gift-3"></li>
			</ul>
			<div class="copy">
				<h4>The good-hearted gift</h4>
				<p>What's inside? Who knows! If you make a donation and drop one of these in your friend's picture, you may include a note to be revealed before the year-end. And change lives, too.</p>
			</div>
		</div>
	</div>

	<p class="readme">
		<span class="label label-info">Please note</span>
		Only donate if you wish to do so.
		You shall not be entited to receive any product or service.<br />
		Payments are processed by JustGiving, who take payments on behalf of the listed charities.
		When you proceed after this step, you will be forwarded to JustGiving's website to pay.
	</p>
</div>

<div class="span3 right">
	<div class="sketch-teaser hidden-phone">
		<h2>Draw your own</h2>
		<a class="btn btn-primary btn-large btn-warning offset3" href="#sketch">It's easy!</a>
	</div>
	<div class="selected-gift">
		<h2>Choosing a decoration</h2>
		<p class="click-to-place">Click your desired decoration</p>
<!-- 		<ul class="gifts">
			<li></li>
		</ul> -->
		<h3>or</h3>
		<div class="donate-anyway">
			<button class="btn">Donate without decorating</button>
		</div>
	</div>
</div>

<div class="row-fluid follow hide">
	<div class="selected-gift container">
		<div class="row-fluid">
			<div class="span4 offset1">
				<h2 class=" heading">Place your gift on the drawing</h2>
				<ul class="nav nav-list bs-docs-sidenav nav-charities"></ul>
			</div>
			<div class="span2 gifts hidden-phone">
				<div class="decoration"></div>
				<button class="btn btn-primary btn-large btn-proceed input-block-level">Donate</button>
			</div>
			<div class="span4 details">
				<input type="text" class="input-name input-block-level" placeholder="Enter your name (optional)" maxlength="32"/>
				<textarea rows="7" class="input-message input-block-level" placeholder="Enter a short message (also optional)" maxlength="150"></textarea>
				<button class="btn btn-primary btn-large btn-proceed input-block-level visible-phone">Donate</button>
			</div>
		</div>
	</div>
</div>
