<!--<ul class="span6 nav nav-tabs nav-stacked">
	<li><a href="#">Unicef</a></li>
	<li><a href="#">Something else</a></li>
	<li><a href="#">Another thing</a></li>
	<li><a href="#">item</a></li>
</ul>-->

<div class="span9 left">
	<h2>Ready to give a gift for our future?</h2>

	<div class="row-fluid">
		<div class="span6 column">
			<ul class="gifts">
				<li class="selectable ball-1" data-gift="ball-1"></li>
				<li class="selectable ball-2" data-gift="ball-2"></li>
				<li class="selectable ball-3" data-gift="ball-3"></li>
			</ul>
			<div class="copy">
				<h4>The glowing bauble</h4>
				<p>They come in all colours, shapes and sizes, but very rarely do they glow. You can either attach your name to the bauble or remain anonymous.</p>
			</div>
		</div>
		<div class="span6 column">
			<ul class="gifts">
				<li class="selectable gift-1" data-gift="gift-1"></li>
				<li class="selectable gift-2" data-gift="gift-2"></li>
				<li class="selectable gift-3" data-gift="gift-3"></li>
			</ul>
			<div class="copy">
				<h4>The lovingly boxed gift</h4>
				<p>What's inside? Nobody knows! If you drop one of these in your friend's scene, you may include a message that will be revealed on Christmas day.</p>
			</div>
		</div>
	</div>

	<p class="readme">
		<span class="label label-warning">Please note</span>
		Only donate if you wish to do so.
		You shall not be entited to receive any product or service.<br />
		Payments are processed by JustGiving, who take payments on behalf of the listed charities.
		When you proceed after this step, you will be forwarded to JustGiving's website to pay.
	</p>
</div>

<div class="span3 right">
	<div class="sketch-teaser hidden-phone">
		<h2>Draw your own</h2>
		<a class="btn btn-primary btn-large btn-warning offset3" href="#sketch">It's easy!</a>
	</div>
	<div class="donate-anyway">
		<button class="btn">Donate without decorating</button>
	</div>
	<div class="selected-gift hide">
		<h2>Your chosen decoration</h2>
		<p class="click-to-place">Click the drawing to place</p>
		<ul class="gifts">
			<li></li>
		</ul>
	</div>
</div>
