<div class="row-fluid row-intro first">
	<h2>Give
			<span class="profile-id">
					<img class="profile-image" src="<%= imageUrl %>" />
					<%= fullName %>
			</span>
		a <i>better</i> kind of gift this Christmas
	</h2>
</div>

<div class="row-fluid row-intro">
	<div class="span2 offset1 decor hidden-phone"></div>
	<div class="span6 inner">
		<h3>Donate to their charities</h3>
		<ul class="charities results middle"></ul>
		<h4 class="hidden-phone">(Mouse over the logos for more information)</h4>
	</div>
	<div class="span2 decor right hidden-phone"></div>
</div>
