header
	.peek-banner
		.container
			.row-fluid
				h1.span2.offset1
					a(href="#")= title
				a.banner.span2.offset2.hidden-phone(href="#")
				.social.span5
					- if (!loggedIn)
						a(href="/auth/facebook")
							span.img-outer
								img(src="/img/social/facebook.png", alt="Connect with Facebook")
							| Connect with Facebook
						a(href="/auth/twitter")
							span.img-outer
								img(src="/img/social/twitter.png", alt="Connect with Twitter")
							| Connect with Twitter
					- else
						a.profile
							span.img-outer
								img(src=user.imageUrl, alt=user.screenName)
							=user.fullName
						a(href="#my_trees")
							span.img-outer
								img(src="/img/social/my_trees.gif", alt="Connect with Facebook")
							| My Trees
						a.profile-action(href="/logout")
							i(class="icon-share icon-white")
							| Log Out

div(role="main", id="main").container
	article
		h2 Please wait, things are loading...

section#footer.container
	.row-fluid
		.span2.offset1
			h1 LightMyTree
		.span2.offset2.centred
			a(href='#') What is this?
		.span2.centred
			a(href='#') Report content
		.span2.centred
			a(href='#') Contact me
