header
	.peek-banner
		.container
			.row-fluid
				h1.span2.offset1
					a(href="#")= title
				a.banner.span2.offset2(href="#")
				.social.span5
					a(href="/auth/facebook")
						span.img
							img(src="/img/social/facebook.png", alt="Connect with Facebook")
						| Connect with Facebook
					a(href="/auth/twitter")
						span.img
							img(src="/img/social/twitter.png", alt="Connect with Twitter")
						| Connect with Twitter

div(role="main", id="main").container
	.span-12
		article
			h2 Please wait, things are loading...
