!!!
html
	head
		title= title
		meta(name='description', content='')
		meta(name='author', content='Luke Plaster, notatestuser@gmail.com')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		meta(width='device-width', initial-scale=1.0)
		meta(name='viewport', content='width=device-width')

		link(rel='stylesheet', href='/css/app.css')
	body
		!= body
		script(data-main='/js/config', src='/js/libs/require.js')
